*.o
*.lo
*.la
*.a
ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
autom4te.cache/*
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.rpath
config.status
config.sub
configure
contrib/Makefile
contrib/Makefile.in
depcomp
doc/Makefile
doc/Makefile.in
etc/Makefile
etc/Makefile.in
etc/pam.d/Makefile
etc/pam.d/Makefile.in
install-sh
lib/.deps/*
lib/.libs/*
lib/Makefile
lib/Makefile.in
libmisc/.deps/*
libmisc/Makefile
libmisc/Makefile.in
libmisc/getdate.c
libtool
ltmain.sh
m4/*
man/Makefile
man/Makefile.in
man/*/Makefile
man/*/Makefile.in
missing
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/*.gmo
po/*.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/stamp-po
shadow.spec
src/.deps/
src/Makefile
src/Makefile.in
stamp-h1
ylwrap
